@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.page-background{
  background-color: rgb(255, 255, 255);
}
.home, .projects, .skills {
  display: flex;
  height:90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.hero-image {
  border-radius: 50%;
  width: 350px;
  height:370px;
  background: url("./images/blue.png");
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}

.resume-button{
  border-radius: 22px;
}

.resume-button:hover{
  transform: scale(1.03); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 


}

.bio-button{
  height: 40px;
  border-radius:50px;
  margin-top: 10px;
}

.bio-button:hover{
  transform: scale(1.03); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}

.card-box{
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}

.card-box:hover{
  transform: scale(1.01);
}
.about-me-text{
  font-family: cursive
}

.skill-image{
  height:75px;
  max-width:100%;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.skill-card{
  width: 120px;
  height: 140px;
  border-radius: 25px;
  margin-right: 5px;
  margin:5px
}

.skill-card:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  transform: scale(1.03);
}

.project-image{
  width:100%;
  height:auto;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 25px;

}

.skills-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.side-navbar{
  background-color: blue;
  width: 50%;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  transition: 350ms;
  padding-right: 12px;
}

.side-navbar:hover{
  width:100%;
  transition: 350ms;
}

.side-navbar:hover span{
  display: contents;
}


.icon-link{
  color:white;
  text-decoration:none;
  font-size: 20px;
  height:50%;
  margin:25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link span{
  display:none
}

.icon-link:hover{
  color: white;
  text-decoration: none;
  background-color: rgb(47, 47, 255);
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 50px; 
}

.side-navbar-header{
  font-size: 40px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  background-color: rgb(6, 6, 208);
  height:100px;
  margin-bottom: 15px;
}

.animate-name{
  animation-duration: 1s;
  animation-name: animate-name;
}

@keyframes animate-name{
  from {
    transform: translateX(90%);
  }

  to {
    transform: translateX(0%);
  }
}