
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
.page-background{
  background-color: rgb(255, 255, 255);
}
 .projects, .skills {
  
  height:90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.hero-image {
  border-radius: 50%;
  width: 100%;
  max-width: 350px;
  height: auto;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.hero-image-2{
  height: 32%;
  width: auto;
  position:absolute;
  top: 23%;
  left: 20%;
}

.hero-image-3{
  width: auto;
  height: 7%;
  position: absolute;
  top: 45%;
  left: 71%;
  transform: translateX(-50%);
}

.hero-image-4{
  width: 100%;
  max-width: 370px;
  height: auto;
  position: absolute;
  top:26%;
  left: 6%;
}


.resume-button{
  border-radius: 22px;
}

.resume-button:hover{
  transform: scale(1.03); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 


}

.bio-button{
  height: 40px;
  border-radius:50px;
  margin-top: 10px;
}

.bio-button:hover{
  transform: scale(1.03); 
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}

.card-box{
  border-radius: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 

}

.card-box:hover{
  transform: scale(1.01);
}
.about-me-text{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.skill-image{
  height:75px;
  max-width:100%;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.skill-card{
  width: 120px;
  height: 140px;
  border-radius: 25px;
  margin-right: 5px;
  margin:5px
}

.skill-card:hover{
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  transform: scale(1.03);
}

.project-image{
  width:100%;
  height:70%;
  margin-top: 20px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
  border-radius: 25px;

}

.skills-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}




@media (max-width: 768px){
  .side-navbar{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-items: center;
    width: 100%;
    padding: 1vh;
  }

  .sticky-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:99;
    padding:0
  }

  .icon-link{
    color:white;
    text-decoration:none;
    font-size: 20px;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .side-navbar-header{
    display: none;
  
  }
  .side-navbar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    height:100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    contain: content;
  }
 
  .add-bottom-margin{
    margin-bottom: 30px;
  }
}

@media (min-width: 768px){
  .side-navbar{
    width: 50%;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left:0;
    transition: 350ms;
    height: 100vh;
    background-color: blue;
    padding: 5px;
  }
  .side-navbar-header{
    font-size: 40px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height:100px;
    width:100%;
    margin-left: 1vh;
  }
  
  .side-navbar ul{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100%;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .side-navbar li{
    margin: 0;
    padding: 0;
  }
  .side-navbar:hover span{
    display: contents;
  }

  .side-navbar:hover{
    width:100%;
  }
  .icon-link{
    color:white;
    text-decoration:none;
    font-size: 20px;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
}



.icon-link span{
  display:none
}

.icon-link:hover{
  color: white;
  text-decoration: none;
  width:100%;
  transform: scale(1.05); 
}


.animate-name{
  animation-duration: 1s;
  animation-name: animate-name;
}

@keyframes animate-name{
  from {
    transform: translateX(90%);
  }

  to {
    transform: translateX(0%);
  }
}
.animate-headband{
  animation-duration: 2s;
  animation-name: animate-headband;
}

@keyframes animate-headband{
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

.hidden{
  visibility: hidden;
}

.animate-sharingan{
  animation-duration:1s ;
  animation-name: animate-sharingan;
}

@keyframes animate-sharingan{
  0%{transform: translateX(-50%)}
  25% {transform:rotate(0deg);}
  75% {transform:rotate(720deg);}
  100% {transform: translateX(-50%)}
}


.animate-mask{
  animation-duration: 2s;
  animation-name: animate-mask;
}

@keyframes animate-mask{
  from{opacity: 0;}
  to{opacity: 1;}
}

.no-padding{
  padding:0;
  margin:0
}

